@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.913);
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
}

.hamburg,
.cancel{
   cursor: pointer;
   position: absolute;
   top: 10px;
   right: 15px;
   color: white;
   display: none;
   font-size:clamp(2.5rem,0.5rem +5vw ,3rem);
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    position: relative;
    font-size:1.2rem; 
    color: white;
    margin:0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #077b32;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color: #077b32;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px)brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: #077b32;
}



#addSkillBtn {
    margin-top: 100px;
    width: 150px;
    height: 40px;
    background-color: #077b32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s linear;
    margin-bottom: 20px;
}

#addSkillBtn:hover {
    background-color: transparent;
    color: #077b32;
    border: 2px solid #077b32;
    box-shadow: 0 0 20px #077b32;
    filter: drop-shadow(0 0 10px #077b32);
    transform: scale(1.1);
}

#skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skillItem {
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0 0 15px #077b32;
    transition: transform 0.3s ease;
}

.skillItem:hover {
    transform: scale(1.05);
}
